@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>
                    Admin dashboard <small>Select entity to manage</small>
                </h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <a asp-action="Index" asp-controller="Room" class="btn btn-info">Room</a>
                </div>
                <div class="col-md-5">
                    <a asp-action="Index" asp-controller="Place" class="btn btn-info">Place</a>
                </div>
            </div>
        </div>
    </div>
</div>