@{
    ViewData["Title"] = "About";
}

<h3>@ViewData["Message"]</h3>

<p>Internal usages only.</p>
<div class="text-left">
    <span class="text-sm-left">Special thanks to</span>
    <a href="http://www.usource.ro">
        <img class="navbar-brand logo" alt="USource" src="~/images/usource-logoBig.svg" />
    </a>
</div>
