@{
    ViewData["Title"] = "Contact";
}
<div class="container-fluid bg-light">
    <h3>@ViewData["Message"]</h3>

    <address>
        Plopilor<br />
        Cluj Napoca, CJ Romania<br />
        @*<abbr title="Phone">P:</abbr>
            425.555.0100*@
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:themrbooker@gmail.com">themrbooker@gmail.com</a><br />
    </address>
</div>